<div class="form-group">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" />
</div>

<!-- <div class="form-group">
  <label for="book_date">Current Date</label>
  <input type="date" name="book_date" id="book_date" />
</div>

<div class="form-group">
  <label for="dep_date">Departure Date</label>
  <input type="date" name="dep_date" id="dep_date" />
</div>

<div class="form-group">
  <label for="number">Adults</label>
  <input
    type="number"
    name="adult"
    id="adult "
    placeholder="How many adults will be with you"
    required
  />
</div>

<div class="form-group">
  <label for="number">Children</label>
  <input
    type="number"
    name="child"
    id="child"
    placeholder="How many children will be with you"
    required
  />
</div> -->

<button type="submit" class="btn btn-send">Send</button>
<a href="/" class="btn btn-main">Go to main page</a>
