<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Riddance</title>
</head>
<body style="display: flex; align-items:center; justify-content:center; min-height:100vh; font-size: 28px;"> 
    <div class="message">Your order has been recorded, Go right into your email for more info</div>
    <div style="text-align: center;">Thank you</div>
</body>
</html>